.app-header {
  display: 'flex';
  flex-direction: column;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.jc-center {
  justify-content: center;
}

.square {
  border: 1px solid #2a2a2a;
  padding: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  color: '#1BBBBB';
  min-width: 100px;
  min-height: 100px;

}